@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;900&display=swap");
#contact, #testimonials, #blog, #gallery, #about {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: rgb(18, 18, 18);
  color: rgb(150, 150, 150);
}

.fadeInUp {
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: rgb(18, 18, 18);
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
}

/* Nav Section ------------------------ */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  color: rgb(230, 230, 230);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;
}
nav .nav-left h1 {
  font-size: 3rem;
  transition: font-size 0.3s ease;
  color: #b3b3b3;
  font-weight: 300;
}
nav .nav-left h1 span {
  color: white;
  font-weight: 600;
  margin: 0 5px;
  position: relative;
  top: 5px;
}
nav .nav-right {
  display: flex;
  align-items: center;
}
nav .nav-right a {
  margin-left: 20px;
  color: rgb(230, 230, 230);
  text-decoration: none;
}
nav .nav-right a:hover {
  filter: brightness(1.1);
}

/* Home Section ----------------------- */
.video-container {
  z-index: -1;
  display: grid;
  place-items: center;
  height: 100vh;
  position: relative;
}
.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-container .video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: auto;
}
.video-container h1 {
  position: relative;
  top: -60px;
  color: rgb(150, 150, 150);
  font-family: helvetica, sans-serif;
  font-size: 6rem;
  letter-spacing: 0.1em;
  z-index: 10;
  animation: hoverAnimation 1.5s ease-in-out infinite alternate;
}
.video-container p {
  color: white;
  position: relative;
  top: -70px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
}
.video-container .overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

@keyframes hoverAnimation {
  from {
    color: #636363;
  }
  to {
    color: white;
  }
}
/* About Section ---------------------- */
#about {
  height: 100vh;
}
#about .phrase {
  color: #303030;
  transition-property: color;
  transition-timing-function: ease;
}
#about .phrase:nth-child(1) {
  transition-delay: 0.1s;
}
#about .phrase:nth-child(2) {
  transition-delay: 0.2s;
}
#about .phrase:nth-child(3) {
  transition-delay: 0.3s;
}
#about .phrase:nth-child(4) {
  transition-delay: 0.4s;
}
#about .phrase:nth-child(5) {
  transition-delay: 0.5s;
}
#about .phrase:nth-child(6) {
  transition-delay: 0.6s;
}
#about .phrase:nth-child(7) {
  transition-delay: 0.7s;
}
#about .phrase:nth-child(8) {
  transition-delay: 0.8s;
}
#about .phrase:nth-child(9) {
  transition-delay: 0.9s;
}
#about .phrase:nth-child(10) {
  transition-delay: 1s;
}
#about .phrase.active {
  color: #c9c9c9;
}
#about .about-container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  scroll-snap-type: proximity;
}
#about .about-container h2 {
  font-size: 3rem;
}
#about .about-container p {
  width: 75ch;
  font-size: 1.5rem;
  line-height: 1.8;
}

/* Gallery Section -------------------- */
#gallery .gallery-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  top: 50px;
}
#gallery .image-box, #gallery .text-box {
  border-radius: 10px;
  transition: all 0.3s ease;
}
#gallery .image-box:not(:last-child), #gallery .text-box:not(:last-child) {
  margin-bottom: 10px;
}
#gallery .image-box {
  height: 300px;
  width: 300px;
  opacity: 0.5;
  transform: scale(0.95);
  transition: all 0.3s ease;
  margin-right: 10px;
}
#gallery .image-box:not(.tall) {
  height: 400px;
}
#gallery .image-box.tall {
  height: 600px;
}
#gallery .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#gallery .image-box:nth-child(1) {
  transition-delay: 0.1s;
}
#gallery .image-box:nth-child(2) {
  transition-delay: 0.2s;
}
#gallery .image-box:nth-child(3) {
  transition-delay: 0.3s;
}
#gallery .image-box:nth-child(4) {
  transition-delay: 0.4s;
}
#gallery .image-box:nth-child(5) {
  transition-delay: 0.5s;
}
#gallery .image-box:nth-child(6) {
  transition-delay: 0.6s;
}
#gallery .image-box.active {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.5s ease, opacity 0.5s ease;
}
#gallery .text-box {
  background: rgb(31, 31, 31);
  color: rgb(150, 150, 150);
  box-sizing: border-box;
  padding: 20px;
  width: 300px;
}
#gallery .text-box h3 {
  color: rgb(200, 200, 200);
}

/* Blog Section ----------------------- */
#blog {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.blog-container {
  width: 80%;
  padding: 50px;
}
.blog-container a {
  text-decoration: none;
  color: hsl(225, 100%, 75%);
  transition: color 0.3s;
}
.blog-container a:hover {
  color: #1a53ff;
}

/* Featured Article Styles */
.featured-article {
  margin-bottom: 50px;
}
.featured-article h1 {
  font-size: 2.5rem;
  color: rgb(200, 200, 200);
  margin: 15px 0;
}
.featured-article p {
  font-size: 1.2rem;
  color: rgb(150, 150, 150);
  margin-bottom: 20px;
}
.featured-article img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}

/* Smaller Articles Styles */
.smaller-articles {
  display: flex;
  justify-content: space-between;
}

.article {
  flex: 1;
  margin: 0 15px;
  background: rgb(31, 31, 31);
  padding: 20px;
  border-radius: 5px;
}
.article h2 {
  font-size: 1.8rem;
  color: rgb(200, 200, 200);
  margin: 15px 0;
}
.article p {
  font-size: 1rem;
  color: rgb(150, 150, 150);
}
.article img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}

/* Blog - Media Queries --------------------- */
/* Tablet Vertical */
@media screen and (max-width: 1025px) {
  .blog-container {
    width: 90%;
  }
  .featured-article h1 {
    font-size: 2.2rem;
  }
  .article {
    margin-bottom: 20px;
  }
  .article h2 {
    font-size: 1.7rem;
  }
  .smaller-articles {
    flex-direction: column;
  }
}
/* Smartphone Vertical */
@media screen and (max-width: 600px) {
  .featured-article h1 {
    font-size: 1.5rem;
  }
  .featured-article p {
    font-size: 1rem;
  }
  .article {
    margin: 10px 0;
  }
  .article h2 {
    font-size: 1.3rem;
  }
}
/* Testimonials Section ----------------- */
#testimonials .testimonials-container {
  clip-path: polygon(0 35%, 100% 0, 100% 70%, 0% 100%);
  background: rgb(31, 31, 31);
  height: 80vh;
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#testimonials .testimonials-container .testimonial {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  top: 30px;
}
#testimonials .testimonials-container .testimonial .image {
  margin-right: 10px;
}
#testimonials .testimonials-container .testimonial .image img {
  border-radius: 50%;
  height: 100px;
}
#testimonials .testimonials-container .testimonial .text {
  width: 50ch;
}
#testimonials .testimonials-container .testimonial h2 {
  position: relative;
  color: rgb(150, 150, 150);
}

/* Contact Section -------------------- */
#contact {
  display: grid;
  place-items: center;
}
#contact h2 {
  font-size: 3rem;
}
#contact .form-container {
  background-color: rgb(31, 31, 31);
  padding: 20px;
  width: 80vw;
  margin: 0 auto;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
#contact .form-container form .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media screen and (max-width: 768px) {
  #contact .form-container form .grid-container {
    grid-template-columns: 1fr;
  }
}
#contact .form-container form .grid-container .form-group {
  display: flex;
  flex-direction: column;
}
#contact .form-container form .grid-container .form-group label {
  color: white;
  margin-bottom: 5px;
}
#contact .form-container form .grid-container .form-group input {
  background-color: #525252;
  border: none;
  border-radius: 8px;
  padding: 15px;
  color: white;
  font-family: inherit;
  font-size: inherit;
}
#contact .form-container form .grid-container .form-group input:focus {
  outline: none;
  background-color: #393939;
}
#contact .form-container form textarea {
  box-sizing: border-box;
  width: 100%;
  background-color: #525252;
  border: none;
  border-radius: 8px;
  padding: 15px;
  margin: 20px 20px 0 0;
  color: white;
  height: 200px;
  resize: vertical;
  font-family: inherit;
  font-size: inherit;
}
#contact .form-container form textarea:focus {
  outline: none;
  background-color: #393939;
}
#contact .form-container form button {
  width: 100%;
  padding: 15px;
  background-color: #9f9f9f;
  border-radius: 25px;
  color: rgb(18, 18, 18);
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}
#contact .form-container form button:hover {
  background-color: #393939;
  color: rgb(200, 200, 200);
}

/* Footer Section --------------------- */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(200, 200, 200);
  padding: 20px 0;
  font-size: 1.2rem;
  background: rgb(18, 18, 18);
}
footer small {
  text-align: center;
}
footer .social-icons {
  margin-top: 10px;
}
footer .social-icons a {
  margin: 0 10px;
  color: rgb(200, 200, 200);
  font-size: 1.5rem;
}
footer .social-icons a:hover {
  filter: brightness(0.9);
}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(160, 160, 160);
  border-radius: 5px;
  min-height: 40px;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

/*# sourceMappingURL=compiled_style.css.map */
