// Import SCSS partials
@import './layout/navbar';
@import './layout/home';
@import './layout/about';
@import './layout/gallery';
@import './layout/blog';
@import './layout/contact';
@import './layout/footer';
@import './layout/toast';
