/* About Section ---------------------- */
#about {
    @extend %section;
    height: 100vh;

    @include smartphone-horizontal {
        padding-top: 10vh;
        padding-bottom: 50vh;
    }

    .phrase {
        color: darken($primary-font-color, 40%);
        transition-property: color;
        transition-timing-function: ease;
      
        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                transition-delay: $i * 0.1s; // Increase delay by 0.1s for each phrase
            }
        }
      
        &.active {
            color: lighten($primary-font-color, 20%);
        }
    }
      
    .about-container {
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;
        scroll-snap-type: proximity;

        h2 {
            font-size: clamp(2rem, 5vw, 3rem);
        }

        p {
            width: 75ch;
            font-size: clamp(1rem, 5vw, 1.5rem);
            line-height: 1.8;
        }

        @include tablet-horizontal {
            h2 {
                margin-left: 5%;
            }

            p {
                width: 90%;
                margin-left: 5%;
            }
        }

        @include tablet-vertical {
            h2 {
                margin-left: 5%;
            }

            p {
                width: 90%;
                margin-left: 5%;
            }
        }
    }
}