/* Blog Section ----------------------- */
#blog {
  @extend %section;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.blog-container {
  width: 80%;
  padding: 50px;

  a {
    text-decoration: none;
    color: $primary-color;
    transition: color 0.3s;

    &:hover {
      color: darken($primary-color, 20%);
    }
  }

  @include tablet-horizontal-large {
    width: 90%;
    padding: 5%;
  }
}

/* Featured Article Styles */
.featured-article {
  margin-bottom: 50px;
  opacity: 0;

  h1 {
    font-size: 2.5rem;
    color: $secondary-font-color;
    margin: 15px 0;

    @include tablet-vertical {
      font-size: 2.2rem;
    }

    @include smartphone-vertical {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1.2rem;
    color: $primary-font-color;
    margin-bottom: 20px;

    @include smartphone-vertical {
      font-size: 1rem;
    }
  }

  img {
    @include article-img;
  }
}

/* Smaller Articles Styles */
.smaller-articles {
  display: flex;
  justify-content: space-between;

  @include tablet-vertical {
    flex-direction: column;
  }
}

.article {
  @include article;
  opacity: 0;

  h2 {
    font-size: 1.8rem;
    color: $secondary-font-color;
    margin: 15px 0;

    @include tablet-horizontal {
      font-size: 1.3rem;
    }

    @include tablet-vertical {
      font-size: 1.7rem;
    }

    @include smartphone-vertical {
      font-size: 1.3rem;
    }
  }

  p {
    font-size: 1rem;
    color: $primary-font-color;

    @include tablet-horizontal {
      font-size: 0.9rem;
    }
  }

  img {
    @include article-img;
    min-height: 300px;
  }

  @include tablet-vertical {
    margin-bottom: 20px;
  }

  @include smartphone-vertical {
    margin: 10px 0;
  }
}
