/* Blog Section ----------------------- */
#blog {
  @extend %section;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.blog-container {
  width: 80%;
  padding: 50px;

  a {
    text-decoration: none;
    color: $primary-color;
    transition: color 0.3s;

    &:hover {
      color: darken($primary-color, 20%);
    }
  }  
}

/* Featured Article Styles */
.featured-article {
  margin-bottom: 50px;

  h1 {
    font-size: 2.5rem;
    color: $secondary-font-color;
    margin: 15px 0;
  }

  p {
    font-size: 1.2rem;
    color: $primary-font-color;
    margin-bottom: 20px;
  }

  img {
    @include article-img;
  }
}

/* Smaller Articles Styles */
.smaller-articles {
  display: flex;
  justify-content: space-between;
}

.article {
  @include article;

  h2 {
    font-size: 1.8rem;
    color: $secondary-font-color;
    margin: 15px 0;
  }

  p {
    font-size: 1rem;
    color: $primary-font-color;
  }

  img {
    @include article-img;
  }
}

/* Blog - Media Queries --------------------- */

/* Tablet Vertical */
@media screen and (max-width: 1025px) {
  .blog-container {
    width: 90%;
  }

  .featured-article h1 {
    font-size: 2.2rem;
  }

  .article {
    margin-bottom: 20px;

    h2 {
      font-size: 1.7rem;
    }
  }

  .smaller-articles {
    flex-direction: column;
  }     
}
  
/* Smartphone Vertical */
@media screen and (max-width: 600px) {
  .featured-article h1 {
    font-size: 1.5rem;
  }

  .featured-article p {
    font-size: 1rem;
  }

  .article {
    margin: 10px 0;

    h2 {
    font-size: 1.3rem;
    }
  }
}
  