/* Home Section ----------------------- */
.video-container {
    z-index: -1;
    display: grid;
    place-items: center;
    height: 100vh;
    position: relative;

    video {
        position: fixed;
        width: 100vw;
        height: auto;
        object-fit: cover;
    }

    @include smartphone-vertical {
        video {
            width: auto;
            height: 100%;
        }
    }
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
    place-items: center;

    h1 {
        position: relative;
        color: $primary-font-color;
        font-family: helvetica, sans-serif;
        font-size: clamp(3.5rem, 5vw, 6rem); 
        z-index: 10;
        animation: hoverAnimation 1.5s ease-in-out infinite alternate;
    }

    p {
        color: white;
        position: relative;
        text-align: center;
        font-size: clamp(1rem, 5vw, 1.5rem);
        font-weight: 200;
    }
} 

@keyframes hoverAnimation {
    from {
        color: darken($primary-font-color, 20%);
    }
    to {
        color: white;
    }
}