/* Nav Section ------------------------ */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  color: $nav-font-color;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;

  .nav-left {
    h1 {
      font-size: 3rem;
      transition: font-size 0.3s ease;
      color: darken($nav-font-color, 20%);
      font-weight: 300;

      span {
        color: lighten($nav-font-color, 10%);
        font-weight: 600;
        margin: 0 5px;
        position: relative;
        top: 5px;
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;

    a {
      margin-left: 20px;
      color: $nav-font-color;
      text-decoration: none;

      &:hover {
        filter: brightness(1.1);
      }
    }
  }
}
