/* Nav Section ------------------------ */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  color: $nav-font-color;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 60px;
  
  @include tablet-horizontal-large {
    background: $background;
  }

  .nav-left {
    h1 {
      font-size: 3rem;
      color: darken($nav-font-color, 20%);
      font-weight: 300;

      @include tablet-horizontal-large {
        font-size: 2.5rem;
      }

      span {
        color: lighten($nav-font-color, 10%);
        font-weight: 600;
        margin: 0 5px;
        position: relative;
        top: 5px;

        @include tablet-horizontal-large {
          top: 2.5px;
        }
      }
    }
  }

  .nav-right {
    .menu-icon {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 2rem;
      height: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      cursor: pointer;
      z-index: 10;
  
      div {
        height: 0.25rem;
        background-color: $nav-font-color;
        transition: all 0.3s ease-in-out;
      }
  
      &.active {
        .bar1 {
          transform: translateY(0.6rem) rotate(-45deg);
        }
  
        .bar2 {
          opacity: 0;
        }
  
        .bar3 {
          transform: translateY(-0.75rem) rotate(45deg);
        }
      }
    }
  }

  #nav {
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    z-index: 2;
  
    .strip {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 20%;
      background: lighten($background, 10%);
      transform: translateY(-100%);
      transition: transform 0.5s ease;
      z-index: 1;
  
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          left: 20% * ($i - 1);
          transition-delay: 0.1s * ($i - 1);
        }
      }
    }
  
    &.active {
      opacity: 1;
      position: fixed;
      top: 0;
      left: 0;
  
      .strip {
        transform: translateY(0);
      }
    }
  
    ul {
      list-style: none;
      @include flex-center(column);
      position: relative;
      top: 15%;
      z-index: 10;
      transform: translateY(-100%);
      transition: transform 0.5s ease;
  
      @include smartphone-horizontal {
        top: 5%;
      }
  
      li {
        margin: 1rem 0;
        opacity: 0;
        transition: opacity 1s ease;

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            transition-delay: 0.5s + 0.1s * ($i - 1);
          }
        }
  
        a {
          font-size: 4rem;
          font-weight: 100;
          text-decoration: none;
          color: $nav-font-color;

          &:hover {
            font-weight: 300;
            padding-bottom: 10px;
            border-bottom: 1px solid $nav-font-color;
          }
  
          @include tablet-horizontal {
            font-size: 3rem;
          }
    
          @include smartphone-vertical {
            font-size: 3rem;
          }
    
          @include smartphone-small {
            font-size: 2.5rem;
          }
  
          @include smartphone-horizontal {
            font-size: 1.5rem;
          }
        }
      }
    }
  
    &.active ul {
      transform: translateY(0);
  
      li {
        opacity: 1;
      }
    }
  }
}
